/src/__pycache__
.DS_Store
/Report/Report.aux
/Report/Report.log
/Report/Report.out
/Report/Report.synctex.gz
/Report/Report.fls
/Report/Report.bbl
/Report/Report.blg
/Report/Report.fdb_latexmk
Plots/